#ts-1{
    height: 100vh;
    width: 100%;
    // background-color: #f1f1f1;
    // background: linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #000000, #434343);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}

#tsParticles2{
    // height: 100vh;
    // width: 100%;
    margin-top: calc((100vh - 15px)*-1);
    background-color:transparent;
    position: relative;
    padding: 1.6em 0;
    @include max-width(770px){
        padding: 1.6em 0 2.8em 0;
    }
    
}

// #particles-js3{
//     // z-index: -200;
// }

#tsParticles3 canvas{
    width: 100%;
    height: 100% !important;
}


#ts-2{
    height: 100vh;
    background-color:$bgColor;
    position: sticky;
    top: 0;
    z-index: -100;
    top: 0;
}