$redColor : #c4272a;
$eduColor : #e23033;
$greyColor : rgb(223, 223, 223);
$bgColor : #ecf1f7;
$footerBG : #2d3033;
$footerHeader : #7a7e82;
$footerLinks : #a0a3a5;


$rubik:'Rubik', sans-serif;
$be-vietnam: 'Be Vietnam', sans-serif;